*{
    margin: 0;
    padding: 0;
}
#homeButton{
    width: 60px;
    height: 50px;
}
#navLogo{
    width:100%;
    height:100%;
}
#mainTitle{
    text-align: center;
    font-size: 4rem;
    padding: 5rem 3rem;
    background-color: #2e282a42;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
#navigationBar{
    background-color: #2E282A;
    padding: 20px 0px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#navigationBar button{
    font-family: 'Josefin Sans', sans-serif;
    background: none;
    border: none;
    color: white;
}
#navigationBar button:hover{
    background-color: #CD5334;
    border-radius: 15px;
    padding: 10px;
}
#navigationBar button:active{
    color: rgb(189, 189, 189);
}
#background{
    background-image: url("IMG_3837.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#aboutUs, #countdownBlock h2{
    padding: 60px 30px 20px;
    font-size: 50px;
}
#aboutUsBlock{
    font-family: 'Josefin Sans', sans-serif;
}
#aboutDesc{
    padding:0px 30px;
}
#aboutDesc h3{
    padding: 20px 0px;
    font-size: 150%;
}
#aboutDesc p{
    font-size: 100%;
    padding: 10px 0px;
}
#imageBlock img{
    width: 33%;
    height: 34%;
}
#imageBlock{
    font-family: 'Josefin Sans', sans-serif;
    padding: 60px 30px 20px;
}
#imageBlock h2{
    font-size: 50px;
    padding: 40px 0px;
}
#images{
    margin: auto;
    width: 1200px;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
#countdown{
    padding: 10px 40px;
    font-size: 40px;
}

/*Styling Vendor Page*/
#sectionTitle{
    padding: 70px 30px 40px;
    font-size: 40px;
}
#boothInfoBlock{
    padding: 0px 30px;
}
#artsInfoBlock{
    padding: 0px 30px;
    margin: 0px 0px 80px;
}
#boothInfoBlock h3, #artsInfoBlock h3{
    padding: 30px 0px;
    font-size: 150%;
}
#boothInfoBlock ul, #artsInfoBlock ul{
    padding: 10px 30px;
    font-size: 100%;
}
#boothInfoBlock li, #artsInfoBlock li{
    padding: 10px 0px;
}

/*Styling Get Involved Page*/
#volunteerBlock{
    padding: 0px 30px 80px;
}
#volunteerBlock h2{
    padding: 70px 0px 40px;
    font-size: 40px;
}
#volunteerBlock h3{
    padding: 30px 0px;
    font-size: 150%;
}
#volunteerBlock ul{
    padding: 10px 30px;
    font-size: 100%;
}
#volunteerBlock li, #volunteerBlock p{
    padding: 10px 0px;
}
